body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  letter-spacing: 0.03rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.1rem;
}
h3,
h4,
h5,
h6 {
  font-size: 1.0rem;
}
ul,
ol {
  margin-left: 1.8rem;
}
li {
  margin: 0.4rem 0;
}
pre,
code {
  font-family: consolas, "Courier New", monospace;
  background-color: #eeeeee;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
}
pre {
  padding: 1.0rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}
pre code {
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}
blockquote {
  margin: 2.0rem 0;
  padding: 0.6rem 1.2rem;
  border-left: 4px solid #757575;
  font-style: italic;
  background-color: #eeeeee;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
header {
  padding: 1.2rem 0;
  margin-bottom: 1.2rem;
}
article {
  margin-bottom: 3.0rem;
}
footer {
  margin: 2.0rem 0;
  padding: 0.6rem 0;
  border-top: 2px solid #757575;
}
footer img {
  border-radius: 2.0rem;
  -webkit-border-radius: 2.0rem;
  -moz-border-radius: 2.0rem;
  margin-bottom: 0.6rem;
}
.article-header {
  border-left: 4px solid #29abe2;
  margin: 0.6rem 0 1.5rem 0;
  padding: 0.3rem 0 0.3rem 0.6rem;
}
article h2 {
  border-bottom: 2px solid #757575;
  margin: 3.0rem 0 1.5rem 0;
  padding-bottom: 0.6rem;
}
article h3,
article h4,
article h5,
article h6 {
  margin: 2.0rem 0 1.5rem 0;
}
article p {
  margin: 1.2rem 0;
}
article img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.container {
  padding: 0 1.0rem;
}
.gray {
  color: #757575;
}
.summary {
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}
.meta {
  font-size: 0.8rem;
}
.back-to-top {
  margin-top: 1.2rem;
}
